*.la
*.lo
*.o
.deps/
.libs/
.sconf_temp
.sconsign.dblite
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.cache
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configparser.c
configparser.h
configure
depcomp
distribute.sh
fcgi-auth
fcgi-auth.exe
fcgi-responder
fcgi-responder.exe
install-sh
lemon
lemon.exe
libtool
lighttpd
lighttpd.exe
lighttpd-angel
lighttpd-angel.exe
ltmain.sh
m4/
missing
mod_ssi_exprparser.c
mod_ssi_exprparser.h
proc_open
proc_open.exe
stamp-h1
versionstamp.h
