*.[oa]
*.l[oa]
*.exe
*~
.deps/
.dirstamp
.libs/
.sconf_temp
.sconsign.dblite
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
Makefile.in
Testing/
aclocal.m4
ar-lib
autom4te.cache/
build/
cmake_install.cmake
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configparser.c
configparser.h
configure
depcomp
distribute.sh
fcgi-auth
fcgi-responder
install-sh
lemon
libtool
lighttpd
lighttpd-angel
ltmain.sh
m4/
missing
mod_ssi_exprparser.c
mod_ssi_exprparser.h
scgi-responder
sconsbuild/
stamp-h1
test_array
test_base64
test_buffer
test_burl
test_configfile
test_mod_simple_vhost
test_request
versionstamp.h
