# please note: lighttpd.conf must contain directive:
#   server.systemd-socket-activation = "enable"

[Unit]
Description=lighttpd http IPv4 socket
Documentation=man:lighttpd https://wiki.lighttpd.net

[Socket]
Service=lighttpd.service

# http IPv4
ListenStream=0.0.0.0:80

NoDelay=true
BindIPv6Only=ipv6-only
#FreeBind=true

[Install]
WantedBy=sockets.target
