# please note:
# server.systemd-socket-activation option needs to be enabled in lighttpd config for socket activation to work.

[Unit]
Description=lighttpd socket

[Socket]
ListenStream=80
ListenStream=443
Service=lighttpd.service

[Install]
WantedBy=sockets.target
